.closed-box{
    background-color:#CD853F;
    border: solid cornsilk;
    border-width: 15%;
    color:#FFFFFF;
    height: 100%;
    width: 100%;
    position: absolute;
}

.opened-box{
    background-color: blanchedalmond;
    border: solid #CD853F;
    border-width: 15%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.full-ball{
    opacity: 100%;
}

.past-ball{
    opacity: 50%;
}