<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="flex-container">
    <box class="box" [number]=1 (changed)="changeBox($event)"></box>
    <box class="box" [number]=2 (changed)="changeBox($event)"></box>
    <box class="box" [number]=3 (changed)="changeBox($event)"></box>
    <box class="box" [number]=4 (changed)="changeBox($event)"></box>
</div>